
<%- include('../partials/head')%>

<body class="d-flex flex-column">
    <%- include('../partials/navbar')%>
    <main class="container mt-3">
        <%- include('../partials/messages') %>
        <%- body %>
    </main>
   
</body>

<%- include('../partials/footer')%>